.Page_header__12gmr {
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(#31cd7a),color-stop(44%,#33b36f),to(#329862));
    background: -webkit-linear-gradient(top,#31cd7a,#33b36f 44%,#329862);
    background: linear-gradient(180deg,#31cd7a 0,#33b36f 44%,#329862);
    color: #fff;
    position: fixed;
    height: 43px;
    padding: 0.05rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}